assets/font-awesome/less/Iconr
assets/font-awesome/scss/Iconr
assets/ico/Iconr
assets/img/Iconr
assets/img/backgrounds/Iconr
assets/img/screenshots/Iconr
assets/img/team/Iconr
assets/img/testimonials/Iconr
assets/js/Iconr
assets/ultimate-flat-social-icons/Iconr
assets/ultimate-flat-social-icons/ultm-bg-images/Iconr
assets/ultimate-flat-social-icons/ultm-bg-images/20x20/Iconr
assets/ultimate-flat-social-icons/ultm-bg-images/40x40/Iconr
assets/ultimate-flat-social-icons/ultm-css/Iconr
attributions/Iconr
documentation/Iconr
